<div id="login">Login Page</div>
<pre>Did you know that SmallChange&trade; has no investment fees on portfolios with balances under 
        $5,000? After that, only a 0.25% fee applies monthly.</pre>
<br><br><br>
<form action="GET" class="form">
  <div class="form-group">
    <label for="username" class="label">Username</label>
  </div>
  <div class="form-group">
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Enter your username"
    />
  </div>
  <div>
    <p class="error" id="errorText">
      Invalid Username - Must contain 3 and 18 letters, numbers, underscores or
      hyphens.
    </p>
  </div>
  <div class="form-group">
    <label for="password" class="label">Password</label>
  </div>
  <div class="form-group">
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Enter the password"
    />
  </div>
  <div>
    <p class="error" id="errorTextPass">
      Invalid password - Must contain between 6 and 24 letters, numbers,
      underscores or hyphens
    </p>
  </div>
  <div class="form-group"><button type="submit">Login</button></div>
  <div id="link"><a href="#">Forgot your password?</a></div>
</form>
