@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

/* body {
  background-color: #545454;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
} */
/* img.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  text-align: center;
  padding: 3px;
  height: 40px;
  font-size: 15px;
}
tr{
  background-color: #c3c7be;
  color: black;
  height: 40px;
}
p{
  text-align: center;
  width: 100%;
  font-size: 40px;
}

button{
  color: black;
  border-radius: 9px;
  background-color: #f0dee0f8;
}
p{
  font-family:"Fidelity Sans", "Arial", "sans-serif" ;
} */
/* body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-image: url("https://media.convertkit.com/post/sF3pIacc-5-essential-landing-page-metrics.jpg?fit=scale&fm=pjpg&h=956&w=1920");
} */

.gradient-custom {
  /* fallback for old browsers */
  /* background: #f6d365; */

  background: -webkit-linear-gradient(
    to right bottom,
    rgba(246, 211, 101, 1),
    rgba(253, 160, 133, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right bottom,
    rgba(246, 211, 101, 1),
    rgba(253, 160, 133, 1)
  );
}
table {
  border-collapse: collapse;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}


body{margin-top:20px;
  background-color:#f2f6fc;
  color:#69707a;
  }
  .img-account-profile {
      height: 10rem;
  }
  .rounded-circle {
      border-radius: 50% !important;
  }
  .card {
      box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
  }
  .card .card-header {
      font-weight: 500;
  }
  .card-header:first-child {
      border-radius: 0.35rem 0.35rem 0 0;
  }
  .card-header {
      padding: 1rem 1.35rem;
      margin-bottom: 0;
      background-color: rgba(33, 40, 50, 0.03);
      border-bottom: 1px solid rgba(33, 40, 50, 0.125);
  }
  .form-control, .dataTable-input {
      display: block;
      width: 100%;
      padding: 0.875rem 1.125rem;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1;
      color: #69707a;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #c5ccd6;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0.35rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .nav-borders .nav-link.active {
      color: #0061f2;
      border-bottom-color: #0061f2;
  }
  .nav-borders .nav-link {
      color: #69707a;
      border-bottom-width: 0.125rem;
      border-bottom-style: solid;
      border-bottom-color: transparent;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0;
      padding-right: 0;
      margin-left: 1rem;
      margin-right: 1rem;
  }