@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

/* body {
  background-color: #545454;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
} */
/* img.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  text-align: center;
  padding: 3px;
  height: 40px;
  font-size: 15px;
}
tr{
  background-color: #c3c7be;
  color: black;
  height: 40px;
}
p{
  text-align: center;
  width: 100%;
  font-size: 40px;
}

button{
  color: black;
  border-radius: 9px;
  background-color: #f0dee0f8;
}
p{
  font-family:"Fidelity Sans", "Arial", "sans-serif" ;
} */
/* body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-image: url("https://media.convertkit.com/post/sF3pIacc-5-essential-landing-page-metrics.jpg?fit=scale&fm=pjpg&h=956&w=1920");
} */

.gradient-custom {
  /* fallback for old browsers */
  /* background: #f6d365; */

  background: -webkit-linear-gradient(
    to right bottom,
    rgba(246, 211, 101, 1),
    rgba(253, 160, 133, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right bottom,
    rgba(246, 211, 101, 1),
    rgba(253, 160, 133, 1)
  );
}
table {
  border-collapse: collapse;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
