div {
  background-color: transparent;
  text-align: left;
  position: relative;
  bottom: 0;
  width: 100%;
}

p {
  font-family: "Fidelity Sans", "Arial", "san-serif";
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1rem;
  color: #000;
  line-height: 0em;
  display: block;
}
