<p>Trading History Details</p>

<div class="tradehistory"> 
<table>
    <thead>
        <tr>
            <th>Trade Type</th>
            <th>Assest Class</th>
            <th>Security</th>
            <th>Quantity</th>
            <th>Account Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Buy</td>
            <td>Stock</td>
            <td>JPMorgan Chase & Co. Capital Stock</td>
            <td>1000</td>
            <td>Acc1</td>
        </tr>
        <tr>
            <td>Sell</td>
            <td>Stock</td>
            <td>JPMorgan Chase & Co. Capital Stock</td>
            <td>200</td>
            <td>Acc2</td>
        </tr>
        


    </tbody>
</table>
</div>
