<div class="container">
  <div *ngIf="!submitted && cashOnHand && cashPower">
    <h1>Place a Buy Trade</h1>
    <form (ngSubmit)="onSubmit()" #buyForm="ngForm">
      <div class="form-group">
        <label for="asset">Asset Class</label>
        <select
          class="form-select"
          name="assetClass"
          #name="ngModel"
          [(ngModel)]="assetClass"
          required
        >
          <option value="STOCK" selected>Main index stocks</option>
          <option value="SCCS">Small cap company stocks</option>
          <option value="IMS">International market stocks</option>
          <option value="GOVT">Government bonds</option>
          <option value="CD">Corporate bonds</option>
        </select>
      </div>

      <div class="form-group">
        <label for="security">Security</label>
        <select
          class="form-select"
          name="security"
          #name="ngModel"
          [(ngModel)]="security"
          required
        >
          <ng-container *ngFor="let trade of tradePrice">
            <option
              *ngIf="trade.instrument.categoryId == assetClass"
              value="{{ trade.instrument.instrumentDescription }}"
              selected
            >
              {{ trade.instrument.instrumentDescription }}
            </option>
          </ng-container>
        </select>
      </div>
      <div class="form-group">
        <label for="Quantity">Quantity</label>
        <input
          type="number"
          class="form-control"
          name="Quantity"
          #name="ngModel"
          min="1"
          max="100"
          [(ngModel)]="Quantity"
          required
        />

        <ng-container *ngFor="let trade of tradePrice">
          <ng-container
            *ngIf="trade.instrument.instrumentDescription == security"
          >
            <p>Target Price :${{ Quantity * trade.bidPrice }}</p>
          </ng-container>
        </ng-container>
      </div>

      <div class="form-group">
        <label for="AccountNumber">Account Number</label>
        <select
          class="form-select"
          name="AccountNumber"
          #name="ngModel"
          [(ngModel)]="AccountNumber"
          required
        >
          <option value="Acc1" selected>Acc1</option>
          <option value="Acc2">Acc2</option>
        </select>
      </div>
      <br />
      <button type="submit" class="btn btn-success" [disabled]="!buyForm.valid">
        Submit
      </button>
    </form>
  </div>
</div>
