<h1>{{ data.dialog_type | uppercase }}</h1>
<ng-container *ngFor="let e of data.data | keyvalue">
  <ng-container *ngIf="e.key == 'Security-Name'">
    <h2>{{ e.value }}</h2>
  </ng-container>
</ng-container>
<div *ngFor="let e of data.data | keyvalue">
  <ng-container *ngIf="e.key != 'portfolio_id'">
    <ng-container *ngIf="e.key != 'user_id'">
      {{ e.key }} : {{ e.value }}
    </ng-container>
  </ng-container>
</div>
<br />
<button
  mat-button
  color="primary"
  [routerLink]="['/BuyTrade', 1]"
  (click)="goToPlaceBuyTrade()"
>
  BUY
</button>
<button
  mat-button
  color="warn"
  [routerLink]="['/SellTrade', 1]"
  (click)="goToPlaceBuyTrade()"
>
  SELL
</button>
