.container {
  width: 50%;
}

#sellTrade {
  box-sizing: content-box;
  font-family: "Fidelity Sans", "Arial", "sans-serif";
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  color: #000;
  font-size: 32px;
  text-align: center;
}
