/* 
ul {
  margin-top: 0rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 1em;
  display: block;
  background-color: #f2f2f2;
  list-style-type: none;
}
li {
  margin: 0em 1em;
  padding: 0em;
  display: inline-block;
}
.topnav .icon {
  display: none;
}
.responsive .icon {
  display: none;
}



@media screen and (max-width: 720px) {
  .topnav ul {
    padding: 2rem;
  }
  .topnav li {
    display: none;
  }
  .topnav a.icon {
    display: block;
    margin: 1rem;
  }
  .responsive a.icon {
    display: block;
    margin: 1rem;
  }
}


@media screen and (max-width: 720px) {
  .topnav.responsive {
    position: relative;
  }
  .responsive li {
    display: block;
  }
  .topnav.responsive ul {
    float: none;
    text-align: left;
  }
  .topnav.responsive {
    float: none;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive {
    display: block;
    width: 100%;
    text-align: left;
  }
}
   */
   
  a {
    font-family: "Fidelity Sans", "Arial", "sans-serif";
    font-size: 18px;
    text-decoration: none;
    box-sizing: content-box;
    padding: 0.75rem 0.5rem 0.75 0.5rem;
    color: #356f95;
  }
  a:hover {
    color: #000;
  }

  a:focus {
    border: 1px dotted #cccccc;
  }

  a:visited {
    color: #5c0198;
  }

  li {
    margin: 0em 2em 0 0;
    padding: 0em;
  }